data_set = test_data/training_data.txt
correct_labels = test_data/correct_labels.txt
hidden_layer_sizes = 100,3
alpha = 0
labels = 3
minibatch_size = 300
learing_rate = 5e-4
epochs = 20000
use_momentum_update = 0
mu = 0.95
decay_rate = 0.9
eps = 1e-5
use_nag_update = 0
use_rmsprop = 1
use_batchnorm = 0
batchnorm_momentum = 0.9
batchnorm_eps = 1e-5
params_dir = .
verbose = 1
mode = train

