data_set = test_data/training_data.txt
correct_labels = test_data/correct_labels.txt
hidden_layer_sizes = 100,3
alpha = 0
labels = 3
minibatch_size = 300
learing_rate = 0.01
epochs = 15000
use_momentum_update = 0
use_nag_update = 0
use_rmsprop = 0
use_batchnorm = 0
params_dir = .
verbose = 0
mode = train

